* {
    display: flex;
    justify-content: center;
}

.modal {

    margin-bottom: 30rem;
    width: 80vw;
    height: 50vh;
    background-color: aquamarine;
    border-radius: 15px;
    padding: 20px 25px 40px;

    .information {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        .type {
            font-size: larger;
            font-weight: bolder;
            margin-right: 1rem;
            
        }
        .conso, .price {
            font-size: large;
            margin-right: 1rem;
        }
    }

    .start-end-container {
        display: flex;
        align-items: center;
        flex-direction: row;

        .choice-container {
            .input-start-hour, .input-end-hour {
                width: 8rem;
                display: flex;
                margin: 30px 0 35PX;
            }
        }
    }

    .save {
        width: 60px;
        height: 60px;
    }

}


