#board-consumption-details{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    .tab-container{
        display: flex;
        .tab{
            padding: 0.2rem;
            background-color: var(--theme-color-background-secondary);
            .tab-icon{
                width: 20px;
                height: 20px;
                margin-right: 5px;
            }
        }
        .active-tab{
            background-color: var(--theme-color-background);
        }
    }
    .popup-window{
        position: relative;
        top:auto;
        left:auto;
        transform: none;
    }
}
