.money-interface-container {
    width: 15rem;
    height: 3rem;
    border-radius: 15px;
    background-color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.2rem;
    .money {
        font-weight: bold;
    }
}